# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.user
*.suo
*.sdf
src/debug
src/Release
src/Win32
# Intellisense, precompiled headers
src/ipch/

# Specific
notes.db
log.txt

